<p id="notice"><%= notice %></p>

<p>
  <strong>Domain:</strong>
  <%= @publicdomain.domain %>
</p>

<%= link_to 'Edit', edit_publicdomain_path(@publicdomain) %> |
<%= link_to 'Back', publicdomains_path %>
